.background {
    background-image: url(./../../assets/tr-up.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-card {
    /* ... other styles ... */
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;              /* Use Flexbox */
    justify-content: center;    /* Center horizontally */
    margin-top: 1rem;          /* Add some space above the button */
}