<div class="background">
    <p-card header="Expenses Now" [style]="{ 'background-image': 'linear-gradient(to right, orange, yellow)' }">
        <p class="m-0">
            A budget is telling your money where to go, instead of wondering where it went.
        </p>
        <div class="button-container"> <!-- Use Flexbox to center the button -->
            <p-button class="p-button-success" severity="success" label="Welcome"></p-button>
        </div>
        <!-- <p-button class="p-button-success" severity="success" label="Welcome"></p-button> -->
    </p-card>
</div>
